
{% extends "base.html" %}

{% block content %}
    <h2>Team Rankings</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Players</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.ranking }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.players }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}